extends layout

block content
  .container
    ul
    -for(var i = 0; i < data.length; i++) {
    -var element = data[i];
      .row.product
        .col-xs-3.collectionsImage
          img(src="#{element.imageUrl}")
        .col-xs-6.collectionsInfo
          h2.collections(data-collectionName="#{element.name}") #{element.name} 
            span.collectionsDescription - "This is a description or tagline for the collection"
            br
            h4 A collection by Weave
            p Number of pieces in Collection: 
              span.size #{element.size}
            //- a(href="/collection/#{element.name}") #{element.name}
            //span.through 0/
            //span.size #{element.size}
            p Current progress: 
              span.through 1/
              span.size #{element.size}
            .progress.collectionsProgress
              .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="6", aria-valuemin="0", aria-valuemax="20", style="width: 30%;")
      .row
        .col-xs-2
        .col-xs-8
          hr
    -}     



  script(src="/javascripts/collections.js", type="text/javascript")