extends layout

block content
  .container
    .collections
      -for(var i = 0; i < products.length; i++) {
      -var id = "product" + i;
      -var itemDisplayNumber = i+1;
      -var progressint = (itemDisplayNumber/products.length) * 100;
      -var progress = "width: " + progressint.toString() + "%;";
      div(data-number="#{id}") 
        h1 #{products[i].type}
        .image
          img.product(src=products[i].imageUrl, data-number="#{id}");
        .row
          .col-md-3
          .col-md-6
            .progress
              .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="#{itemDisplayNumber}", aria-valuemin="0", aria-valuemax="20", style="#{progress}")
          .col-md-3
        .row
          .col-md-1
          .col-md-5
            button.dislike.btn.btn-primary(data-number="#{id}", data-url=products[i].url, data-price=products[i].price, data-shop=products[i].shop, data-imageUrl=products[i].imageUrl, data-type=products[i].type) Dislike
          .col-md-5
            button.like.btn.btn-success(data-number="#{id}", data-url=products[i].url, data-price=products[i].price, data-shop=products[i].shop, data-imageUrl=products[i].imageUrl, data-type=products[i].type) Like
          .col-md-1
      -}      



  script(src="/javascripts/client.js", type="text/javascript")