extends layout

block content
  .container
    .collections
      -for(var i = 0; i < products.length; i++) {
      -var id = "product" + i;
      div(data-number="#{id}") 
        h1 #{products[i].type}
        .image
          img.product(src=products[i].imageUrl, data-number="#{id}");
        .buttons
          button.dislike.btn.btn-primary(data-number="#{id}", data-url=products[i].url, data-price=products[i].price, data-shop=products[i].shop, data-imageUrl=products[i].imageUrl, data-type=products[i].type) Dislike
          button.like.btn.btn-success(data-number="#{id}", data-url=products[i].url, data-price=products[i].price, data-shop=products[i].shop, data-imageUrl=products[i].imageUrl, data-type=products[i].type) Like
      -}      



  script(src="/javascripts/client.js", type="text/javascript")