extends layout

block content
  .container
    h1(style="text-align: center") Here are your collections, they change daily:
    ul
    -for(var i = 0; i < data.length; i++) {
    -var element = data[i];
      .row.product(data-collectionName="#{element.name}")
        .col-xs-2.col-md-3.collectionsImage
          img(src="#{element.imageUrl}")
        .col-xs-7.col-md-6.collectionsInfo
          h2.collections(data-collectionName="#{element.name}") #{element.name} 
            h4 - #{element.comment} -
            //- a(href="/collection/#{element.name}") #{element.name}
            //span.through 0/
            //span.size #{element.size}
            p Current progress: 
              span.through 1/
              span.size #{element.size}
            .progress.collectionsProgress
              .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="6", aria-valuemin="0", aria-valuemax="20", style="width: 0")
            p.collectionsAuthor A collection by Weave
        .col-xs-3.col-md-3.collectionsPlay
          a.btn.btn-custom.playButton(data-url="/collection/#{element.name}") Play
      .row
        .col-xs-2
        .col-xs-8
          hr
    -}
    .row
      .col-xs-2.col-md-3
      .col-xs-8.col-md-6
        button.btn.btn-custom.createCollection Create your own Collection



  script(src="/javascripts/collections.js", type="text/javascript")