extends layout

block content
  .container
    h1(style="text-align: center") Collections Feed
    -for(var i = 0; i < data.length; i++) {
    -var element = data[i];
    - if( i%3 == 0) {
    .row
    - }
      .col-sm-4.col-md-4.collectionTile
        //- .collectionContainer
        //-   .collectionHover
        //-     .weaveLogo
        .stamped(data-collectionName="#{element.name}", data-url="/collection/#{element.name}")
          img(src="/images/stamp.png")
        .collection(data-collectionName="#{element.name}", data-url="/collection/#{element.name}")
          h3 #{element.name}
          h4 - #{element.comment} -
          .collectionImages
            .mainCollectionImage  
              img.main(src="#{element.imageUrls[0]}")
            .miniCollectionImages
              .miniCollectionImage
                img.mini(src="#{element.imageUrls[1]}")
              .miniCollectionImage
                img.mini(src="#{element.imageUrls[2]}")
              .miniCollectionImage
                img.mini(src="#{element.imageUrls[3]}")
              .miniCollectionImage
                img.mini(src="#{element.imageUrls[4]}")
            .collectionClearfix
          .collectionInfo
            .collectionProgress
              .progress
                .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="6", aria-valuemin="0", aria-valuemax="20", style="width: 0")
              .progressText
                p Current progress: 
                  span.through 0/ 
                  span.size #{element.size}
            .collectionAuthor 
              p A collection by #{element.author}
    - }

    .modal.fade#weaveIntro
      .modal-dialog.weave-modal
        .modal-content.weave-modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title Collections Feed
          .modal-body
            .modal-body-content
              h3 As users create collections, your feed will update.
              ul
                li Weave through a collection by liking or disliking items.
                li Liked items will be saved to your board.
              
              button.btn.btn-custom#closeIntro(type="button", data-dismiss="modal") Close


  script(src="/javascripts/collections.js", type="text/javascript")