extends layout

block content

  script(type='text/javascript')

  .container
    h4#opinion Your friend #{results.ownerName} wants your opinion!
    #welcome
      .row
        .col-xs-1
        .col-xs-10
          p.explain Weave presents you with Collections of clothes. You move through a Collection by liking or disliking items. Your friend has created a Collection and wants to know what you think.
        .col-xs-1
      .row
        .col-xs-1
        .col-xs-10 
          form(role="form")
            .form-group
              label Please tell us your name
              input.form-control#friendName(placeholder="Your Name")
              p.help-block To help your friends identify you
        .col-xs-1
      .row
        .col-xs-4
        .col-xs-4
          button.btn.btn-primary#understand Got it
        .col-xs-4
    .collections
      -for(var i = 0; i < results.products.length; i++) {
      -console.log(results.products[i]);
      -var id = "product" + i;
      -var itemDisplayNumber = i+1;
      -var progressint = ((itemDisplayNumber - 1)/results.products.length) * 100;
      -var progress = "width: " + progressint.toString() + "%;";
      div(data-number="#{id}")
        .row
          .col-md-3.col-xs-2
          .col-md-6.col-xs-8
            h1.collectionTitle #{results.collectionName}
            .progress
              .progress-bar.progress-bar-success(role="progressbar", aria-valuenow="#{itemDisplayNumber}", aria-valuemin="0", aria-valuemax="20", style="#{progress}")   
          .col-md-3.col-xs-2
        .image
          img.product(src="#{results.products[i].imageUrl}", data-id="#{results._id}", data-number="product#{i}", data-url="#{results.products[i].url}", data-price="#{results.products[i].price}", data-shop="#{results.products[i].shop}", data-imageUrl="#{results.products[i].imageUrl}", data-type="#{results.products[i].type}", data-brand="#{results.products[i].brand}")
        p #{results.products[i].type}
          .row
            .col-xs-1
            .col-xs-5
              button.dislike.btn.btn-danger.btn-lg(data-number="product#{i}", data-id="#{results._id}", data-url="#{results.products[i].url}", data-price="#{results.products[i].price}", data-shop="#{results.products[i].shop}", data-imageUrl="#{results.products[i].imageUrl}", data-type="#{results.products[i].type}", data-brand="#{results.products[i].brand}") Not for me
            .col-xs-5
              button.like.btn.btn-success.btn-lg(data-number="product#{i}", data-id="#{results._id}", data-url="#{results.products[i].url}", data-price="#{results.products[i].price}", data-shop="#{results.products[i].shop}", data-imageUrl="#{results.products[i].imageUrl}", data-type="#{results.products[i].type}", data-brand="#{results.products[i].brand}") I'd wear this
            .col-xs-1
      -}
    .comment
      form(role="form", method="post")
        .form-group
          label(for="comment") Any comments?
          textarea.form-control(name="comment", id="comment")
        .form-group
          input.btn.btn-defaul(type="submit", id="sendComment") Send
    .thanks
      h1 Thanks. We'll let #{results.ownerName} know
      a(class="btn btn-primary", href="/") Play for yourself

  script(src="/javascripts/friend.js", type="text/javascript")