extends layout

block content

  script(type='text/javascript')

  .container
    h4#before Your friend wants your opinion!
    .row
      p Blah blah blah blah
    .row
      .col-xs-4
      .col-xs-4
        button.btn.btn-primary#understand Got it
      .col-xs-4
    #products
      -for(var i = 0; i < results.products.length; i++) {
      .row
        hr
        .col-xs-3
          img(src="#{results.products[i].imageUrl}")
        .col-xs-6.info
        .row
          .col-xs-1
          .col-xs-5
            button.dislike.btn.btn-danger.btn-lg(data-number="#{i}", data-url="#{results.products[i].url}", data-price="#{results.products[i].price}", data-shop="#{results.products[i].shop}", data-imageUrl="#{results.products[i].imageUrl}", data-type="#{results.products[i].type}", data-brand="#{results.products[i].brand}") Not good
          .col-xs-5
            button.like.btn.btn-success.btn-lg(data-number="#{i}", data-url="#{results.products[i].url}", data-price="#{results.products[i].price}", data-shop="#{results.products[i].shop}", data-imageUrl="#{results.products[i].imageUrl}", data-type="#{results.products[i].type}", data-brand="#{results.products[i].brand}") Suits them
          .col-xs-1
      -}

  script(src="/javascripts/friend.js", type="text/javascript")